<div *ngIf="selectedPokemon" class="row">,
    <div class="col s12 m8 offset-m2">
        <h2 class="header center">{{ selectedPokemon.name }}</h2>
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img [src]="selectedPokemon.picture" alt="Pokémon">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                                <td>Nom</td>
                                <td><strong>{{ selectedPokemon.name }}</strong></td>
                            </tr>
                            <tr>
                                <td>Points de vie</td>
                                <td><strong>{{ selectedPokemon.hp }}</strong></td>
                            </tr>
                            <tr>
                                <td>Dégâts</td>
                                <td><strong>{{ selectedPokemon.cp }}</strong></td>
                            </tr>
                            <tr>
                                <td>Types</td>
                                <td>
                                    <span *ngFor="let type of selectedPokemon.types"
                                            class="{{type | pokemonTypeColor}}"
                                    >
                                        {{ type }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Date de Création</td>
                                <td>{{ selectedPokemon.created | date:'dd/MM/yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a (click)="goToPokemonList()">Retour</a>
                    <a (click)="goToEditPokemon(selectedPokemon)">Editer</a>
                    <a (click)="deletePokemon(selectedPokemon)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 *ngIf="!selectedPokemon" class="center">Aucun Pokémon à Afficher !</h4>